In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [4]:
# df = pd.read_parquet("yellow_tripdata_2024-01.parquet")
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet")
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0

In [5]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [6]:
df = df.rename({
    'VendorID': 'vendorid',
    'RatecodeID': 'ratecodeid',
    'PULocationID': 'pulocationid',
    'DOLocationID': 'dolocationid',
    'Airport_fee': 'airport_fee'
}, axis=1)
df.columns

Index(['vendorid', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecodeid', 'pulocationid', 'dolocationid',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [7]:
df.shape

(476386, 20)

In [9]:
# df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
# df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])

In [12]:
print(pd.io.sql.get_schema(df, name="green_taxi_trips"))

CREATE TABLE "green_taxi_trips" (
"vendorid" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "ratecodeid" REAL,
  "pulocationid" INTEGER,
  "dolocationid" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" TEXT,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [13]:
pd.to_datetime(df["lpep_pickup_datetime"])

0        2019-10-01 00:26:02
1        2019-10-01 00:18:11
2        2019-10-01 00:09:31
3        2019-10-01 00:37:40
4        2019-10-01 00:08:13
                 ...
476381   2019-10-31 23:30:00
476382   2019-10-31 23:03:00
476383   2019-10-31 23:02:00
476384   2019-10-31 23:42:00
476385   2019-10-31 23:23:00
Name: lpep_pickup_datetime, Length: 476386, dtype: datetime64[us]

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine("postgresql://root:root@localhost:15432/ny_taxi")

In [16]:
engine.connect()

In [17]:
print(pd.io.sql.get_schema(df, name="green_taxi_trips", con=engine))

CREATE TABLE green_taxi_trips (
	vendorid BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	ratecodeid FLOAT(53),
	pulocationid BIGINT,
	dolocationid BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [55]:
%%time
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append", index=False)

CPU times: user 1min 50s, sys: 1min 21s, total: 3min 12s
Wall time: 15min 3s

624